body{
    background-color: darkgrey;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
}
.description{
    font-size: smaller;
}
 .button {
    width: 10px;
    height: 10px;
    display: inline-block;
    padding: 40px;
    margin: 40px; 
  }
  #one:hover {
    filter: drop-shadow(0 0 2em #986D9A);
  }
  #two:hover {
    filter: drop-shadow(0 0 2em #E1AFD1);
  }
  #three:hover {
    filter: drop-shadow(0 0 2em #6295A2);
  }
  #four:hover {
    filter: drop-shadow(0 0 2em #F1E5D1);
  }
  #five:hover {
    filter: drop-shadow(0 0 2em #987070);
  }
  #six:hover {
    filter: drop-shadow(0 0 2em #FBA834);
  }
  .i{
    height:100px;
  }

  