body{
    background-image: url(bkg\ photo.png);
    background-repeat: no-repeat;
    background-size: 100% , 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}
#height , #weight , #calculate{
    background-color: rgb(251, 246, 226);
    border-radius: 5px;
    /* padding: 20px; */
}
.one , .two{
    padding: 7px;
}
.calculate{
    margin: 20px;
}
.div1 {
    background: rgba(150, 148, 148, 0.8);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.5px);
    text-align: center;
    margin: 100px;
}
.chart{
    background: rgba(150, 148, 148, 0.8);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.5px);
    text-align: center;
    margin: 100px;
}



