body{
    background-color: darkgrey;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
.description{
    font-size: smaller;
}
 .button {
    width: 70px;
    height: 70px;
    border: solid white 1px;
    display: inline-block;
    border-radius: 20px;
    padding: 30px;
    margin: 30px; 
  }
   
  #one {
    background: #986D9A;
  }
  #two {
    background: #E1AFD1;
  }
  #three {
    background: #6295A2;
  }
  #four {
    background: #F1E5D1;
  }
  #five {
    background: #987070;
  }
   #six {
    background:#FBA834;
  }
  #one:hover {
    filter: drop-shadow(0 0 2em #986D9A);
  }
  #two:hover {
    filter: drop-shadow(0 0 2em #E1AFD1);
  }
  #three:hover {
    filter: drop-shadow(0 0 2em #6295A2);
  }
  #four:hover {
    filter: drop-shadow(0 0 2em #F1E5D1);
  }
  #five:hover {
    filter: drop-shadow(0 0 2em #987070);
  }
  #six:hover {
    filter: drop-shadow(0 0 2em #FBA834);
  }
  .i{
    height:100px;
  }

  